@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
    <div class="home-c">
        <div class="text-center">
            <h1 class="display-4">Marvel Test</h1>
            <a href="/employees" class="view-employees">View Employees</a>
        </div>
    </div>

</div>